aiohttp==3.9.3
appdirs==1.4.4
BeautifulSoup4==4.12.3
elevenlabs==0.2.27
fsspec==2024.2.0
funcy==2.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.119.0
google-cloud-aiplatform==1.42.1
google-generativeai==0.3.2
openai==1.12.0
pygame==2.5.2
pyttsx3==2.90
python-dotenv==1.0.1
pytz==2024.1
rich==13.7.0
spacy==3.7.4
tiktoken==0.6.0
tzlocal==5.2
