@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: #f0f0f0;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 139, 0.371);
  border-radius: 7px 7px 0px 0px;
}

h2 {
  display: flex;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: center;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: solid 1px #666;
  border-radius: 7px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #17224440;
  border-radius: 10px;
  width: 100%; /* Add this line */
}

.chat-button {
  display: inline-block;
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.3s;
}

.chat-button:hover {
  background-color: #490000;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chat-window {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.user-message,
.ai-message {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 13px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  line-height: 1.4;
  width: fit-content;
  word-wrap: break-word;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-message {
  background-color: #007bff;
  color: #ffffff;
}

.ai-message {
  background-color: #8d8d8d;
  color: #333333;
}

#chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin: 5px auto;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  font-size: 1.5rem;
  width: calc(100% - 20px);
}

#user-input:focus {
  border-color: #007bff;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabBar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  gap: 50px;
}

#clear-chat-btn {
  background-color: #dc3545;
  color: #ffffff;
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s;
  align-self: center;
}

#clear-chat-btn:hover {
  background-color: #c82333;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aiavatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
  object-fit: cover;
}

.useravatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  object-fit: cover;
}

.message-wrapper {
  display: flex;
  justify-content: flex-end;
}

.message-wrapper.ai {
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .chat-container {
    width: 100%;
    height: 95vh;
    border-radius: 7px;
  }

  .chat-window {
    height: 95vh;
  }
}
