<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT_ALL</title>
    <link rel="stylesheet" href="/static/chat-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="chat-container">
        <h1>GPT_ALL</h1>
        <div class="chat-window" id="chat-window"></div>
        <form id="input-form">
            <textarea
                id="user-input"
                name="user-input"
                placeholder="Enter your message..."
                rows="1"
            ></textarea>
            <div class="tabBar">
                <button id="clear-chat-btn" type="button">Clear</button>
                <input type="submit" value="Send" />
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/chat.js"></script>
    <script>
        // Define avatar URLs here for global access
        const userAvatarUrl = "/static/U1.webp";
        const aiAvatarUrl = "/static/J5.webp";
    </script>
</body>
</html>